<h4>Defination of Label Encoding:-</h4>
    <p>Label Encoding is a popular encoding technique for handling categorical variables. In this technique, each label is assigned a unique integer based on alphabetical ordering.<p>

In [21]:
import pandas as pd 
import numpy as np

In [29]:
#Create DataFrame
man_height ={
    'Height': ['Tail','Medium','Short']
}
df = pd.DataFrame(man_height)

print(df)

   Height
0    Tail
1  Medium
2   Short

In [49]:
from sklearn import preprocessing

# label_encoder 'object' knows how to understand word labels.
La_encode = preprocessing.LabelEncoder()

# Encode labels in column 'species'
man_height [ 'Height' ] = La_encode.fit_transform(man_height['Height'])
print(df[ 'Height' ].unique())

print("Data Frame after Label Encoding:\n")
print(man_height)
print('Where 2 is the label for Tail, 0 is the label for Medium, and 1 is the label for Short\n')

['Tail' 'Medium' 'Short']
Data Frame after Label Encoding:

{'Height': array([2, 0, 1], dtype=int64)}
Where 2 is the label for Tail,0 is the label for Medium,and 1 is the label for Short

In [39]:
#Create a DataFrame
my_data = {  
    "Gender" : ['F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M'],  
    "Name" : ['Cindy', 'Carl', 'Johnny', 'Stacey', 'Andy', 'Sara', 'Victor', 'Martha', 'Mindy', 'Max']  
        }  
blk = pd.DataFrame(my_data)  
print("Geniune Data Frame:\n")

Geniune Data Frame:

In [4]:
blk

  Gender    Name
0      F   Cindy
1      M    Carl
2      M  Johnny
3      F  Stacey
4      M    Andy
5      F    Sara
6      M  Victor
7      F  Martha
8      F   Mindy
9      M     Max

In [14]:
from sklearn import preprocessing   
  
my_data = {  
    "Gender" : ['F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M'],  
    "Name" : ['Cindy', 'Carl', 'Johnny', 'Stacey', 'Andy', 'Sara', 'Victor', 'Martha', 'Mindy', 'Max']  
        }  
blk = pd.DataFrame( my_data )  
print("Geniune Data Frame:\n")  
print( blk )  

# label_encoder object knows how to understand word labels.
my_label = preprocessing.LabelEncoder()  
 
# Encode labels in column 'species'.  
blk[ 'Gender' ]= my_label.fit_transform(blk[ 'Gender' ])   
print(blk[ 'Gender' ].unique())  
print("Data Frame after Label Encoding:\n")
print(blk)

Geniune Data Frame:

  Gender    Name
0      F   Cindy
1      M    Carl
2      M  Johnny
3      F  Stacey
4      M    Andy
5      F    Sara
6      M  Victor
7      F  Martha
8      F   Mindy
9      M     Max
[0 1]
Data Frame after Label Encoding:

   Gender    Name
0       0   Cindy
1       1    Carl
2       1  Johnny
3       0  Stacey
4       1    Andy
5       0    Sara
6       1  Victor
7       0  Martha
8       0   Mindy
9       1     Max

In [15]:
#We can check the data type using the dtypes function as shown below:
my_data = {  
    "Gender" : ['F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M'],  
    "Name" : ['Cindy', 'Carl', 'Johnny', 'Stacey', 'Andy', 'Sara', 'Victor', 'Martha', 'Mindy', 'Max']  
        }  
blk = pd.DataFrame( my_data )  
print( blk.dtypes )

Gender    object
Name      object
dtype: object

In [16]:
#Once we have checked the data type of the variable 'Gender', we will transform and convert it to category type.
my_data = {  
    "Gender" : ['F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M'],  
    "Name" : ['Cindy', 'Carl', 'Johnny', 'Stacey', 'Andy', 'Sara', 'Victor', 'Martha', 'Mindy', 'Max']  
        }  
blk = pd.DataFrame( my_data )  
blk[ 'Gender' ] = blk[ 'Gender' ].astype( 'category' )  
  
print( blk.dtypes )

Gender    category
Name        object
dtype: object

In [ ]:
'''Now, let us try transforming the labels into integer types with
    the pandas.DataFrame.cat.codes function.
    Here is a complete example based on label encoding using the category codes:
'''
my_data = {  
    "Gender" : ['F', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'F', 'M'],  
    "Name" : ['Cindy', 'Carl', 'Johnny', 'Stacey', 'Andy', 'Sara', 'Victor', 'Martha', 'Mindy', 'Max']  
        }  
blk = pd.DataFrame( my_data )  
print("Genuine Data Frame:\n")  
print( blk )  
  
blk[ 'Gender' ] = blk[ 'Gender' ].astype( 'category' )  
print("\nData Frame after Label Encoding using Category codes:\n")  
blk[ 'Gender' ] = blk[ 'Gender' ].cat.codes  
  
print( blk )

In [ ]:
#Reference: https://www.javatpoint.com/label-encoding-in-python