In [ ]:
''' #Replace Using Mean, Median, or Mode
    A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
    Pandas uses the mean() median() and mode() methods 
    to calculate the respective values for a specified column:
    
    
#Definition and Usage:
    Mean, Median, and Mode:
        -Mean - The average value
        -Median - The mid point value
        -Mode - The most common value
'''

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Creating the dataframe
df = pd.DataFrame({"A":[12, 4, 5, 44, 1],
                "B":[5, 2, 54, 3, 2],
                "C":[20, 16, 7, 3, 8],
                "D":[14, 3, 17, 2, 6]})
  
# Print the dataframe
df

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [4]:
#Mean - The average value
df.mean()

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

In [5]:
#Median - The mid point value
df.median()

A    5.0
B    3.0
C    8.0
D    6.0
dtype: float64

In [6]:
#Mode - The most common value
df.mode()

    A    B   C   D
0   1  2.0   3   2
1   4  NaN   7   3
2   5  NaN   8   6
3  12  NaN  16  14
4  44  NaN  20  17

In [ ]:
#Reference:https://www.geeksforgeeks.org/python-pandas-dataframe-median/