In [ ]:
#Data Cleaning:-Data cleaning means fixing bad data in your data set.

In [6]:
import pandas as pd
import numpy as np

In [146]:
Dataset = pd.read_excel('Clean.xlsx')

In [147]:
'''
    -The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28).
    -The data set contains wrong format ("Date" in row 26).
    -The data set contains wrong data ("Duration" in row 7).
    -The data set contains duplicates (row 11 and 12).
'''

Dataset

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [39]:
Dataset.head()

   Si_No  Duration          Date  Pulse  Maxpulse  Calories
0      0        60  '2020/12/01'    110       130     409.1
1      1        60  '2020/12/02'    117       145     479.0
2      2        60  '2020/12/03'    103       135     340.0
3      3        45  '2020/12/04'    109       175     282.4
4      4        45  '2020/12/05'    117       148     406.0

In [14]:
Dataset.columns

Index(['Si_No', 'Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [18]:
#By default, the dropna() method returns a new DataFrame, and will not change the original.

new_df = Dataset.dropna()

In [20]:
print(new_df.to_string())

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [78]:
#####Cleaning Empty Cells
#Empty cells can potentially give you a wrong result when you analyze data.

In [23]:
#If you want to change the original DataFrame, use the "inplace = True" argument:
Dataset.dropna(inplace = True)

#/-/-Notice in the result that some rows have been removed (row 18, 22 and 28).
#/-/-These rows had cells with empty values.
'''
    Both inplace= true and inplace = False are used to do some operation on the data but: 
    When inplace = True is used, it performs operation on data and nothing is returned. 
    When inplace=False is used, it performs operation on data and returns a new copy of data
'''

In [29]:
print(Dataset.to_string())

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [40]:
'''
    # Replace Empty Values
    -Another way of dealing with empty cells is to insert a new value instead.
    -This way you do not have to delete entire rows just because of some empty cells.
    -The fillna() method allows us to replace empty cells with a value:
'''

Dataset = pd.read_excel('Clean.xlsx')
Dataset.fillna(155,inplace = True)
# /-/- Notice in the result: empty cells got the value 155 (in row 18, 22 and 28).

In [148]:
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0
32     32        60         '2020/12/31'     92       115     243.0

In [42]:
#To only replace empty values for one column, specify the column name for the DataFrame:
#Replace NULL values in the "Calories" columns with the number 155:
Dataset = pd.read_excel('Clean.xlsx')
Dataset['Calories'].fillna(155,inplace = True)
#This operation inserts 155 in empty cells in the "Calories" column (row 18 and 28)c

In [149]:
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0
32     32        60         '2020/12/31'     92       115     243.0

In [63]:
''' #Replace Using Mean, Median, or Mode
    A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
    Pandas uses the mean() median() and mode() methods 
    to calculate the respective values for a specified column:
    
    
#Definition and Usage
    Mean, Median, and Mode:
        -Mean - The average value
        -Median - The mid point value
        -Mode - The most common value


'''

' #Replace Using Mean, Median, or Mode\n    A common way to replace empty cells, is to calculate the mean, median or mode value of the column.\n    Pandas uses the mean() median() and mode() methods \n    to calculate the respective values for a specified column:\n'

In [65]:
df.mean()

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

In [53]:
#Calculate the MEAN, and replace any empty values with it:
Dataset = pd.read_excel('Clean.xlsx')
x = Dataset['Calories'].mean()
Dataset['Calories'].fillna(x,inplace = True)

In [47]:
Dataset
#As you can see in row 18 and 28, the empty values from "Calories" was replaced with the mean: 304.68

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130    409.10
1       1        60         '2020/12/02'    117       145    479.00
2       2        60         '2020/12/03'    103       135    340.00
3       3        45         '2020/12/04'    109       175    282.40
4       4        45         '2020/12/05'    117       148    406.00
5       5        60         '2020/12/06'    102       127    300.00
6       6        60         '2020/12/07'    110       136    374.00
7       7       450         '2020/12/08'    104       134    253.30
8       8        30         '2020/12/09'    109       133    195.10
9       9        60         '2020/12/10'     98       124    269.00
10     10        60         '2020/12/11'    103       147    329.30
11     11        60         '2020/12/12'    100       120    250.70
12     12        60         '2020/12/12'    100       120    250.70
13     13        60         '2020/12/13'    106       128    345.30
14     14        60         '2020/12/14'    104       132    379.30
15     15        60         '2020/12/15'     98       123    275.00
16     16        60         '2020/12/16'     98       120    215.20
17     17        60         '2020/12/17'    100       120    300.00
18     18        45         '2020/12/18'     90       112    304.68
19     19        60         '2020/12/19'    103       123    323.00
20     20        45         '2020/12/20'     97       125    243.00
21     21        60         '2020/12/21'    108       131    364.20
22     22        45                  NaN    100       119    282.00
23     23        60         '2020/12/23'    130       101    300.00
24     24        45         '2020/12/24'    105       132    246.00
25     25        60         '2020/12/25'    102       126    334.50
26     26        60  2020-12-26 00:00:00    100       120    250.00
27     27        60         '2020/12/27'     92       118    241.00
28     28        60         '2020/12/28'    103       132    304.68
29     29        60         '2020/12/29'    100       132    280.00
30     30        60         '2020/12/30'    102       129    380.30
31     31        60         '2020/12/31'     92       115    243.00

In [67]:
#Median = the value in the middle, after you have sorted all values ascending.
#Median - The mid point value
#Calculate the MEDIAN, and replace any empty values with it:
Dataset = pd.read_excel('Clean.xlsx')
x = Dataset['Calories'].median()
Dataset['Calories'].fillna(x,inplace = True)

In [70]:
Dataset
#As you can see in row 18 and 28, the empty values from "Calories" was replaced with the median: 291.2

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112     291.2
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132     291.2
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [75]:
#Mode - The most common value
#Calculate the MODE, and replace any empty values with it:
Dataset = pd.read_excel('Clean.xlsx')
x = Dataset['Calories'].mode()[0]
Dataset['Calories'].fillna(x,inplace = True)
#/-/- Mode = the value that appears most frequently.

In [150]:
Dataset
#As you can see in row 18 and 28, the empty value from "Calories" was replaced with the mode: 300.0

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0
32     32        60         '2020/12/31'     92       115     243.0

In [ ]:
###Cleaning Data of Wrong Format
''''
    #Data of Wrong Format:
    -Cells with data of wrong format can make it difficult, or even impossible, to analyze data.
    -To fix it, you have two options:
            1.Remove the rows
            2.convert all cells in the columns into the same format.
'''

In [79]:
'''#Convert Into a Correct Format
    -In our Data Frame, we have two cells with the wrong format. 
     Check out row 22 and 26, the 'Date' column should be a string that represents a date:
'''
Dataset = pd.read_excel('Clean.xlsx')

In [80]:
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [95]:
#Pandas has a to_datetime() method for this:
Dataset = pd.read_excel('Clean.xlsx')
Dataset['Date']=pd.to_datetime(Dataset['Date'])

In [96]:
'''
    As you can see from the result, the date in row 26 was fixed,
    but the empty date in row 22 got a "NaT (Not a Time)" value, in other words an empty value.
    One way to deal with empty values is simply removing the entire row.
'''
Dataset

    Si_No  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2020-12-01    110       130     409.1
1       1        60 2020-12-02    117       145     479.0
2       2        60 2020-12-03    103       135     340.0
3       3        45 2020-12-04    109       175     282.4
4       4        45 2020-12-05    117       148     406.0
5       5        60 2020-12-06    102       127     300.0
6       6        60 2020-12-07    110       136     374.0
7       7       450 2020-12-08    104       134     253.3
8       8        30 2020-12-09    109       133     195.1
9       9        60 2020-12-10     98       124     269.0
10     10        60 2020-12-11    103       147     329.3
11     11        60 2020-12-12    100       120     250.7
12     12        60 2020-12-12    100       120     250.7
13     13        60 2020-12-13    106       128     345.3
14     14        60 2020-12-14    104       132     379.3
15     15        60 2020-12-15     98       123     275.0
16     16        60 2020-12-16     98       120     215.2
17     17        60 2020-12-17    100       120     300.0
18     18        45 2020-12-18     90       112       NaN
19     19        60 2020-12-19    103       123     323.0
20     20        45 2020-12-20     97       125     243.0
21     21        60 2020-12-21    108       131     364.2
22     22        45        NaT    100       119     282.0
23     23        60 2020-12-23    130       101     300.0
24     24        45 2020-12-24    105       132     246.0
25     25        60 2020-12-25    102       126     334.5
26     26        60 2020-12-26    100       120     250.0
27     27        60 2020-12-27     92       118     241.0
28     28        60 2020-12-28    103       132       NaN
29     29        60 2020-12-29    100       132     280.0
30     30        60 2020-12-30    102       129     380.3
31     31        60 2020-12-31     92       115     243.0

In [99]:
#Removing Rows using dropna() method
#Remove rows with a NULL value in the "Date" column:
Dataset.dropna(subset=['Date'], inplace= True )

In [100]:
Dataset
#As you can see the result,remove the 'NaT'(Not a Time) row

    Si_No  Duration       Date  Pulse  Maxpulse  Calories
0       0        60 2020-12-01    110       130     409.1
1       1        60 2020-12-02    117       145     479.0
2       2        60 2020-12-03    103       135     340.0
3       3        45 2020-12-04    109       175     282.4
4       4        45 2020-12-05    117       148     406.0
5       5        60 2020-12-06    102       127     300.0
6       6        60 2020-12-07    110       136     374.0
7       7       450 2020-12-08    104       134     253.3
8       8        30 2020-12-09    109       133     195.1
9       9        60 2020-12-10     98       124     269.0
10     10        60 2020-12-11    103       147     329.3
11     11        60 2020-12-12    100       120     250.7
12     12        60 2020-12-12    100       120     250.7
13     13        60 2020-12-13    106       128     345.3
14     14        60 2020-12-14    104       132     379.3
15     15        60 2020-12-15     98       123     275.0
16     16        60 2020-12-16     98       120     215.2
17     17        60 2020-12-17    100       120     300.0
18     18        45 2020-12-18     90       112       NaN
19     19        60 2020-12-19    103       123     323.0
20     20        45 2020-12-20     97       125     243.0
21     21        60 2020-12-21    108       131     364.2
23     23        60 2020-12-23    130       101     300.0
24     24        45 2020-12-24    105       132     246.0
25     25        60 2020-12-25    102       126     334.5
26     26        60 2020-12-26    100       120     250.0
27     27        60 2020-12-27     92       118     241.0
28     28        60 2020-12-28    103       132       NaN
29     29        60 2020-12-29    100       132     280.0
30     30        60 2020-12-30    102       129     380.3
31     31        60 2020-12-31     92       115     243.0

In [ ]:
#Cleaning Worng Data Wrong Data
'''
     -"Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong,
      like if someone registered "199" instead of "1.99".

     -Sometimes you can spot wrong data by looking at the data set, 
      because you have an expectation of what it should be.

     -If you take a look at our data set, you can see that in row 7, the duration is 450,
      but for all the other rows the duration is between 30 and 60.

     -It doesn't have to be wrong, 
      but taking in consideration that this is the data set of someone's workout sessions,
      we conclude with the fact that this person did not work out in 450 minutes.
'''

In [133]:
Dataset = pd.read_excel('Clean.xlsx')
print(Dataset)

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [125]:
'''
    #Replacing Values
    -One way to fix wrong values is to replace them with something else.

    -In our example, it is most likely a typo, and the value should be "45" instead of "450",
     and we could just insert "45" in row 7:
'''
#Set"Duration"= 45 in row 7:
#Dataset.loc[7,'Duration'] = 45

'\n    #Replacing Values\n    -One way to fix wrong values is to replace them with something else.\n\n    -In our example, it is most likely a typo, and the value should be "45" instead of "450",\n     and we could just insert "45" in row 7:\n'

In [134]:
#Check the Row 7
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [127]:
#Loop through all values in the "Duration" column.
#If the value is higher than 120, set it to 120:
'''for x in Dataset.index:
    if Dataset.loc[x,"Duration"] > 120:
        Dataset.loc[x,"Duration"] = 110'''

In [135]:
#Check the Row 7
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [139]:
'''
    #Removing Rows
    -Another way of handling wrong data is to remove the rows that contains wrong data.
    -This way you do not have to find out what to replace them with,
     and there is a good chance you do not need them to do your analyses.
'''
#Delete rows where "Duration" is higher than 120:
for x in Dataset.index:
    if Dataset.loc[x,'Duration'] >= 120:
        Dataset.drop(x,inplace = True)

In [140]:
#remember to include the 'inplace = True' argument to make the changes in the original DataFrame object instead of returning a copy
#Delete row 7
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0

In [ ]:
#Discovering Duplicates
'''
    #Discovering Duplicates
    -Duplicate rows are rows that have been registered more than one time.
    -By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.
    -To discover duplicates, we can use the duplicated() method.
    -The duplicated() method returns a Boolean values for each row:
'''

In [156]:
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0
32     32        60         '2020/12/31'     92       115     243.0

In [158]:
#Returns True for every row that is a duplicate, othwerwise False:
print(Dataset.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [159]:
#Removing Duplicates
#To remove duplicates, use the drop_duplicates() method.
#Remove all duplicates:
Dataset.drop_duplicates(inplace = True)

In [160]:
# -Remember: The (inplace = True) will make sure that the method does NOT return a new DataFrame, 
#  but it will remove all duplicates from the original DataFrame.
Dataset

    Si_No  Duration                 Date  Pulse  Maxpulse  Calories
0       0        60         '2020/12/01'    110       130     409.1
1       1        60         '2020/12/02'    117       145     479.0
2       2        60         '2020/12/03'    103       135     340.0
3       3        45         '2020/12/04'    109       175     282.4
4       4        45         '2020/12/05'    117       148     406.0
5       5        60         '2020/12/06'    102       127     300.0
6       6        60         '2020/12/07'    110       136     374.0
7       7       450         '2020/12/08'    104       134     253.3
8       8        30         '2020/12/09'    109       133     195.1
9       9        60         '2020/12/10'     98       124     269.0
10     10        60         '2020/12/11'    103       147     329.3
11     11        60         '2020/12/12'    100       120     250.7
12     12        60         '2020/12/12'    100       120     250.7
13     13        60         '2020/12/13'    106       128     345.3
14     14        60         '2020/12/14'    104       132     379.3
15     15        60         '2020/12/15'     98       123     275.0
16     16        60         '2020/12/16'     98       120     215.2
17     17        60         '2020/12/17'    100       120     300.0
18     18        45         '2020/12/18'     90       112       NaN
19     19        60         '2020/12/19'    103       123     323.0
20     20        45         '2020/12/20'     97       125     243.0
21     21        60         '2020/12/21'    108       131     364.2
22     22        45                  NaN    100       119     282.0
23     23        60         '2020/12/23'    130       101     300.0
24     24        45         '2020/12/24'    105       132     246.0
25     25        60         '2020/12/25'    102       126     334.5
26     26        60  2020-12-26 00:00:00    100       120     250.0
27     27        60         '2020/12/27'     92       118     241.0
28     28        60         '2020/12/28'    103       132       NaN
29     29        60         '2020/12/29'    100       132     280.0
30     30        60         '2020/12/30'    102       129     380.3
31     31        60         '2020/12/31'     92       115     243.0
32     32        60         '2020/12/31'     92       115     243.0