In [1]:
import pandas as pd
import numpy as np

In [3]:
#[] = Square Brackets
#{} = Curly Brackets
my_dict={
    'NAME':['Ravi','Raju','Alex'],
    'ID':[1,2,3],'MATH':[30,40,50],
    'ENGLISH':[20,30,40]
}
df=pd.DataFrame(data=my_dict)

In [4]:
df

   NAME  ID  MATH  ENGLISH
0  Ravi   1    30       20
1  Raju   2    40       30
2  Alex   3    50       40

In [5]:
# In Python, \n is a type of escape character that will create a new line when used. 
#\n0 : '\n' is create a new line and '0' is index number
#(\) = backslash 
df.to_string()

'   NAME  ID  MATH  ENGLISH\n0  Ravi   1    30       20\n1  Raju   2    40       30\n2  Alex   3    50       40'

In [23]:
#By default all columns are taken, however we can specify which columns to only include.
df.to_string(columns = ['NAME', 'ENGLISH'])

'   NAME  ENGLISH\n0  Ravi       20\n1  Raju       30\n2  Alex       40'

In [25]:
#We can hide the header by setting it to False. We can also give aliases to use as column names.
df.to_string(header=['NAME1','ID2','MATH3','ENGLISH4'])

'  NAME1 ID2 MATH3 ENGLISH4\n0  Ravi   1    30       20\n1  Raju   2    40       30\n2  Alex   3    50       40'

In [26]:
#We can hide the index column by setting it to False ( default is True )
df.to_string(index = False)

'NAME  ID  MATH  ENGLISH\nRavi   1    30       20\nRaju   2    40       30\nAlex   3    50       40'

In [27]:
#Minimum width of each column.
df.to_string(col_space=10)

'                 NAME         ID       MATH    ENGLISH\n0                Ravi          1         30         20\n1                Raju          2         40         30\n2                Alex          3         50         40'

In [33]:
#justify :left, right , center ...
df.to_string(justify = 'right')

'   NAME  ID  MATH  ENGLISH\n0  Ravi   1    30       20\n1  Raju   2    40       30\n2  Alex   3    50       40'

In [34]:
#justify :left, right , center ...
df.to_string(justify = 'left')

'  NAME   ID  MATH  ENGLISH\n0  Ravi  1   30    20     \n1  Raju  2   40    30     \n2  Alex  3   50    40     '

In [35]:
#justify :left, right , center ...
df.to_string(justify = 'center')

'   NAME  ID  MATH  ENGLISH\n0  Ravi   1   30     20   \n1  Raju   2   40     30   \n2  Alex   3   50     40   '

In [41]:
#We can store the string in a file .
'''
    my_dict={
        'NAME':['Ravi','Raju','Alex'],
        'ID':[1,2,3],'MATH':[30,40,50],
        'ENGLISH':[20,30,40]
    }
    df=pd.DataFrame(data=my_dict)
    str1=df.to_string() # collect the string in a variable 
    fob=open('D:\\my_data\\my_file.txt','w') # file object
    fob.write(str1)    # write to file. 
    fob.close()
'''

"\n    my_dict={\n        'NAME':['Ravi','Raju','Alex'],\n        'ID':[1,2,3],'MATH':[30,40,50],\n        'ENGLISH':[20,30,40]\n    }\n    df=pd.DataFrame(data=my_dict)\n    str1=df.to_string() # collect the string in a variable \n    fob=open('D:\\my_data\\my_file.txt','w') # file object\n    fob.write(str1)    # write to file. \n    fob.close()\n"

In [40]:
#From Excel file to string output
#We used read_excel() to read our sample student.xlsx file.0
'''
    df=pd.read_csv("D:\\my_data\\student.csv") # change the path
    df.to_string()
'''

'\n    df=pd.read_csv("D:\\my_data\\student.csv") # change the path\n    df.to_string()\n'

In [39]:
#We can read one csv file by using read_csv()
'''
    df=pd.read_csv("D:\\my_data\\student.csv") # change the path
    df.to_string()
'''

'\n    df=pd.read_csv("D:\\my_data\\student.csv") # change the path\n    df.to_string()\n'

In [ ]:
#Referecne :https://www.plus2net.com/python/pandas-to_string.php